<div data-role="header" class="header">
 <nav data-role="navbar" data-grid-"d">
  <ul>
    <li><a href="//sites.google.com/a/eng.ucsd.edu/spis/">UCSD CSE SPIS</a></li>
    <li><a href="/" >FOCS Curriculum</a></li>
    <li><a href="{{ site.spis_academic_program }}">Academic Program</a></li>
  </ul>
 </nav>
 <nav data-role="navbar" data-grid-"d">
  <ul>
    <li><a href="/info/agenda/">Agenda</a></li>
    <li><a href="/info/calendar/">Calendar</a></li>
    <li><a href="{{ site.piazza }}">Piazza</a></li>
   <li><a href="{{ site.course_github_url }}">UCSD SPIS 2019 GitHub</a></li>
   <li><a href="{{ site.gradescope }}">Gradescope</a></li>
  </ul>
 </nav>
 {% if page.layout == "hwk" %}
 <nav data-role="navbar" data-grid-"d">
  <ul class="hwk-nav-bar">
  {% for asn in site.hwk %}
    <li><a href="{{asn.url}}">{{asn.num}}</a></li>
  {% endfor %}
  </ul>
 </nav>
{% endif %}
</div>
