<!DOCTYPE html>
<html lang="en">
  <head>
    {% assign start_date_yyyymmdd = site.start_date | date: "%Y%m%d" %}
    {% assign end_date_yyyymmdd = site.end_date | date: "%Y%m%d" %}
    {% include head_calendar.html %}
    <title>{{ page.title }} - {{ site.course}}</title>
  </head>
    <body id="page-top">
      <div id="container" data-role="page">
      {% include nav.html %}
        <div id="content"  class="ui-content">
          <h1>{{page.title}}</h1>
          {{ content }}
	</div><!-- content -->
        {% include footer.html %}
      </div><!-- container -->
  </body>
</html>
