<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %} 
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  </head>
  <body id="page-top">
    <div id="container" data-role="page">
    {% include nav.html %}
    <div id="content"  class="ui-content">
      <h1>Lecture Notes, {{ page.lecture_date | date: "%a %m/%d " }}</h1>
      <h2>Week: {{page.week}}&nbsp;&mdash; {{page.topic}}&nbsp;&mdash; {{page.desc}}</h2>
      
    {{ content }}
    </div><!-- content -->
    {% include footer.html %}
    </div><!-- container -->
  </body>
</html>
